*{padding: 0;margin: 0;}
a{text-decoration: none;}
body,html{color: #666;
  font-size: 12px;
  font-family: Arial,'Microsoft YaHei';}
li{list-style: none}


// 页面主色调
@bodyRed:#FF3366;
@bodyGray:#F8F8F8;

.bodyColor{
  background:@bodyRed ;
}


// 浮动
.left{float:left;}
.right{float:right;}
// display
.display{display: block;}

// 定位
.pos{position: relative;}


// 设置背景色
.bgColor(@color){
  background: @color;
}
// 设置大小
.size(@width,@height){
  width:@width; height: @height;
}







