@import 'common';


.inner{width: 1200px;margin: 0 auto;
  &::after{
  content:''; .display; clear: both;
}
}
.red{color: @bodyRed;}
a{color: #666;}

// 页面顶部
.topBox{
  .bgColor(@bodyGray);
  .size(100%,30px);
  overflow: hidden;
  ul{float: right;}
  a{color: #666;
    line-height: 20px;
    .display;
    padding: 0 18px;
    i{margin-right: 7px; font-size:16px;}
    border-right: 1px dotted #ccc;
  }
  li{.left; padding: 5px 0; }
}
// header部分

header{
  .pos;
  .logo{margin-top: 40px; .left;.display;}
  .search{ position: absolute; left: 50%; top: 21px; margin-left: -240px; width: 520px;}
  .search-all{ }
  ul , .search-box {.display;overflow: hidden;}
  li{.left;}
  .search-all{
    li{.left;width: 56px;    background-color: #f2f2f2;  }
    a{line-height: 24px;.display; text-align: center;  }
    .now a{background: @bodyRed; color: #fff; }
  }
  .search-box{
    input{border:2px solid #FF3366;    width: 437px;  .left; padding-left: 8px;
      line-height: 28px;  height: 28px;}
    span{background:@bodyRed;  text-align: center  ;width: 70px; line-height: 32px;  height: 32px;cursor: pointer; .display; .left;   }
    i{color: #fff; font-size: 18px;}
  }
  .search-navs{margin-top: 12px;
    li{margin-right: 10px;}
  }
}

// body 部分
.body{

  .head{border-bottom:1px solid @bodyRed; font-size: 14px; .pos; .size(100% ,40px);
    li{.left; text-align: center; height: 40px; line-height: 40px; margin: 0 40px;  }
    li:first-child{margin-left: 0; }
    a:hover{color: @bodyRed;}
  }
  .code{position: absolute;right: 0; bottom: 0;}
  span{
    width:285px; .bodyColor; .display; color: #fff;
  }

}
.body-box{
  // 外层ul
  .outer-ul{ width:283px;
    .border; .left;
    &>li{ .pos;
      margin: 0 20px;
      height: 41.5px;
      border-bottom: 1px dotted #ccc;
      &>a:first-child{ margin-right: 20px;}
      &>a{margin-right: 10px;      line-height: 41.5px;  display: inline-block;  }
      i{.posAR(0px,18px);opacity: 0.8; color: #ccc;  }
      &::after , &::before{ position: absolute;left:-20px; display: none;
        content: ''; .display; width:283px; height: 1px; background: @bodyRed;
      }
      &::after{top:0;}
      &::before{bottom: 0;}
    }
    
  }
  // 内层ul
  .inner-ul{ display: none; background: #fff;
    .posA(263px,-2px);
    z-index: 9;
    width:238px;
    padding: 0 0 10px 20px;
    .border;
    &:first-child {border-top: none;};
    p{
      font-size: 14px;
      line-height: 20px;
      height: 20px;
      padding: 12px 0 6px 0;
    }
    a{
      display: inline-block; margin-right: 10px;
      line-height: 24px;
    }
  }
}
// banner
.box{
  position: relative;
  margin-top:20px;
  .right;
  .size(896px,447px);
  overflow: hidden;
  ul{
    .posBR(30px,10px);
    li{display: block; .size(20px,20px); border-radius: 100%;  background: skyblue;.left; border:1px solid skyblue;  margin-right: 10px;
     &.now{ background: #fff; }
    }
  }
}
.banner{
  .size(896px,447px);
  a{display: none;.posA(0,0);   }
  img{ .size(896px,447px); }

}

/*  产品部分 */

/* 四个图片部分*/
.boxs-four{
  overflow: hidden; margin-top: 20px;
  li{margin-right: 20px; .size(285px,285px); .left;
  }
  li:last-of-type{margin-right: 0;}
};
/* 广告部分*/
.act{
  margin-top: 20px;
}
/* 多个产品部分 */
.pros {
  ul{overflow: hidden; padding-top: 20px;border-top: 1px solid #eee; }
  li{
    width:224px;float: left; margin-right: 20px;
    &:nth-of-type(5n){margin-right: 0;}
    &:nth-of-type(n+6){margin-top: 40px;}
  }

  figure{ .size(224px,340px);   }
  .desc{
    h3{    margin-top: 16px; font-weight: normal; font-size: 14px;}
    .price{ line-height: 28px;height: 28px; margin-top: 10px;
      b{ font-size: 22px;color: @bodyRed; margin-right: 4px; font-weight: normal;  }
      span{font-size: 10px;  color: #999;  line-height: 32px; text-decoration: line-through;   }
    }
  }
  .buy{overflow: hidden;margin-top: 10px;
     span{
       font-size: 10px; color: @bodyRed;
     }
     p{.size(96px,5px); border: 1px solid #FFA811; margin-top: 7px; border-radius: 7px; .pos;
       b.after{ .posA(0,0); width: 20%;background: #FFA811;   display: block; height: 5px;   }
     }
    .btn-buy{    text-align: center; display: block; border-radius: 36px;  line-height: 36px; .size(96px,36px); color: #fff; .bodyColor;  }
  }
  a:hover{ color: @bodyRed; }
  .loading{display: none; padding: 20px; text-align: center; }
}
















