* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
body,
html {
  color: #666;
  font-size: 12px;
  height: 2000px;
  font-family: Arial, 'Microsoft YaHei';
}
li {
  list-style: none;
}
.bodyColor {
  background: #ff3366;
}
.border {
  border: 1px solid #ff3366;
}
.left {
  float: left;
}
.right {
  float: right;
}
.display {
  display: block;
}
.pos {
  position: relative;
}
.inner {
  width: 1200px;
  margin: 0 auto;
}
.inner::after {
  content: '';
  display: block;
  clear: both;
}
.red {
  color: #ff3366;
}
a {
  color: #666;
}
.topBox {
  background: #f8f8f8;
  width: 100%;
  height: 30px;
  overflow: hidden;
}
.topBox ul {
  float: right;
}
.topBox a {
  color: #666;
  line-height: 20px;
  display: block;
  padding: 0 18px;
  border-right: 1px dotted #ccc;
}
.topBox a i {
  margin-right: 7px;
  font-size: 16px;
}
.topBox li {
  float: left;
  padding: 5px 0;
}
header {
  position: relative;
}
header .logo {
  margin-top: 40px;
  float: left;
  display: block;
}
header .search {
  position: absolute;
  left: 50%;
  top: 21px;
  margin-left: -240px;
  width: 520px;
}
header ul,
header .search-box {
  display: block;
  overflow: hidden;
}
header li {
  float: left;
}
header .search-all li {
  float: left;
  width: 56px;
  background-color: #f2f2f2;
}
header .search-all a {
  line-height: 24px;
  display: block;
  text-align: center;
}
header .search-all .now a {
  background: #ff3366;
  color: #fff;
}
header .search-box input {
  border: 2px solid #FF3366;
  width: 437px;
  float: left;
  padding-left: 8px;
  line-height: 28px;
  height: 28px;
}
header .search-box span {
  background: #ff3366;
  text-align: center  ;
  width: 70px;
  line-height: 32px;
  height: 32px;
  cursor: pointer;
  display: block;
  float: left;
}
header .search-box i {
  color: #fff;
  font-size: 18px;
}
header .search-navs {
  margin-top: 12px;
}
header .search-navs li {
  margin-right: 10px;
}
.body .head {
  border-bottom: 1px solid #ff3366;
  font-size: 14px;
  position: relative;
  width: 100%;
  height: 40px;
}
.body .head li {
  float: left;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin: 0 40px;
}
.body .head li:first-child {
  margin-left: 0;
}
.body .head a:hover {
  color: #ff3366;
}
.body .code {
  position: absolute;
  right: 0;
  bottom: 0;
}
.body span {
  width: 285px;
  background: #ff3366;
  display: block;
  color: #fff;
}
.body-box .outer-ul {
  width: 283px;
  border: 1px solid #ff3366;
  float: left;
}
.body-box .outer-ul > li {
  position: relative;
  margin: 0 20px;
  height: 41.5px;
  border-bottom: 1px dotted #ccc;
}
.body-box .outer-ul > li > a:first-child {
  margin-right: 20px;
}
.body-box .outer-ul > li > a {
  margin-right: 10px;
  line-height: 41.5px;
  display: inline-block;
}
.body-box .outer-ul > li i {
  position: absolute;
  right: 0px;
  top: 18px;
  opacity: 0.8;
  color: #ccc;
}
.body-box .outer-ul > li::after,
.body-box .outer-ul > li::before {
  position: absolute;
  left: -20px;
  display: none;
  content: '';
  display: block;
  width: 283px;
  height: 1px;
  background: #ff3366;
}
.body-box .outer-ul > li::after {
  top: 0;
}
.body-box .outer-ul > li::before {
  bottom: 0;
}
.body-box .inner-ul {
  display: none;
  background: #fff;
  position: absolute;
  left: 263px;
  top: -2px;
  z-index: 9;
  width: 238px;
  padding: 0 0 10px 20px;
  border: 1px solid #ff3366;
}
.body-box .inner-ul:first-child {
  border-top: none;
}
.body-box .inner-ul p {
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  padding: 12px 0 6px 0;
}
.body-box .inner-ul a {
  display: inline-block;
  margin-right: 10px;
  line-height: 24px;
}
.box {
  position: relative;
  margin-top: 20px;
  float: right;
  width: 896px;
  height: 447px;
  overflow: hidden;
}
.box ul {
  position: absolute;
  right: 30px;
  bottom: 10px;
}
.box ul li {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: skyblue;
  float: left;
  border: 1px solid skyblue;
  margin-right: 10px;
}
.box ul li.now {
  background: #fff;
}
.banner {
  width: 896px;
  height: 447px;
}
.banner a {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
.banner img {
  width: 896px;
  height: 447px;
}
/*  产品部分 */
/* 四个图片部分*/
.boxs-four {
  overflow: hidden;
}
.boxs-four li {
  margin-right: 20px;
  width: 285px;
  height: 285px;
  float: left;
}
.boxs-four li:last-of-type {
  margin-right: 0;
}
/* 广告部分*/
.act {
  margin-top: 20px;
}
/* 多个产品部分 */
.pros ul {
  overflow: hidden;
}
.pros li {
  width: 224px;
  float: left;
  margin-right: 20px;
}
.pros li:last-of-type {
  margin-right: 0;
}
.pros figure {
  width: 224px;
  height: 340px;
}
.pros .desc h3 {
  margin-top: 16px;
  font-weight: normal;
  font-size: 14px;
}
.pros .desc .price {
  line-height: 28px;
  height: 28px;
  margin-top: 10px;
}
.pros .desc .price b {
  font-size: 22px;
  color: #ff3366;
  margin-right: 4px;
  font-weight: normal;
}
.pros .desc .price span {
  font-size: 10px;
  color: #999;
  line-height: 32px;
  text-decoration: line-through;
}
.pros .buy {
  overflow: hidden;
  margin-top: 10px;
}
.pros .buy span {
  font-size: 10px;
  color: #ff3366;
}
.pros .buy p {
  width: 96px;
  height: 5px;
  border: 1px solid #FFA811;
  margin-top: 7px;
  border-radius: 7px;
  position: relative;
}
.pros .buy p b.after {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  background: #FFA811;
  display: block;
  height: 5px;
}
.pros .buy .btn-buy {
  text-align: center;
  display: block;
  border-radius: 36px;
  line-height: 36px;
  width: 96px;
  height: 36px;
  color: #fff;
  background: #ff3366;
}
.pros a:hover {
  color: #ff3366;
}
